@using CanonStore.Models

@*@model List<CanonStore.Models.Product>*@
@model PagedList.IPagedList<CanonStore.Models.Comment>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    db_CanonStoreEntities ctx = new db_CanonStoreEntities();
}

<div class="main">

    <h1>Comments</h1><br />
    <div style="text-align: center; font-size: 20px;">
        <div>
            @using (Html.BeginForm("Index", "Comments", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @style = "font-size: 20px" })
                    <input type="submit" value="Search" style="font-size: 20px;" />
                </p>
            }
        </div>
        <div>
            <section class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        <br />
                        <!-- Thêm mã phân trang -->
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        <br />
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        <!-- Kết thúc -->
                    </div>
                </div>
            </section>
        </div>
    </div>

    <table class="table" id="myTable">
        <thead>
            <tr>

                <th scope="col" style="text-decoration-line:underline;">
                    @Html.ActionLink("#", "Index", new { sortOrder = "", currentFilter = ViewBag.CurrentFilter })
                </th>
                <th scope="col" style="text-decoration-line:underline;">
                    @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th scope="col" style="text-decoration-line:underline;">
                    @Html.ActionLink("Rate", "Index", new { sortOrder = ViewBag.RateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th scope="col">
                    Product
                </th>
                <th scope="col">
                    Customer
                </th>
                <th scope="col">
                    Comment
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Date.Value.ToString("dd/MM/yyyy")</td>
                    <td>@item.Rating</td>
                    <td>
                        @{
                            Product product = ctx.Products.Where(p => p.Id_product == (int)item.Id_Product).FirstOrDefault();
                        }
                        <img src="~/Content/images/@product.Image" alt="Alternate Text" style="width:100px;" />
                        <p>@product.Name</p>
                    </td>
                    <td>
                        @{
                            Customer customer = ctx.Customers.Where(c => c.Id == (int)item.Id_Customer).FirstOrDefault();
                        }
                        <p>@customer.Name</p>
                    </td>
                    <td>@item.Com_txt</td>
                    <td>
                        <a href="~/Comments/Edit/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>

