@model CanonStore.Models.Customer
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="main">
    <h1>Customers</h1><br />

    <div style="display:flex;min-height:300px;">
        <div style="background-color: #616161; width: 250px; display: flex; justify-content: center; ">
            <img src="~/Content/images/@Model.Image" style="height:150px; padding: 40px 10px;" alt="Alternate Text" />
        </div>
        <div>
            <table style="width:100%;height:100%;">
                <tr>
                    <th>Name:</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Telephone:</th>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Adress</th>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <th>Day Of Birth</th>
                    <td>@Model.DayOfBirth.Value.ToString("dd/MM/yyy")</td>

                </tr>
                <tr>
                    <th>Date Created</th>
                    <td>@Model.DateCreated.Value.ToString("dd/MM/yyy")</td>
                </tr>

            </table>
        </div>


    </div>
    <div>
        <br />
        <h3 style="color:red;">Do you want to delete</h3>
        <a href="/Customer/DeleteConfirm/@Model.Id" class="btn_Delete">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </div>


</div>

